# Ruff配置文件 - 现代化的Python代码检查工具
[lint]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "N",  # pep8-naming
    "D",  # pydocstyle
    "UP",  # pyupgrade
    "YTT",  # flake8-2020
    "ANN",  # flake8-annotations
    "ASYNC",  # flake8-async
    "S",  # flake8-bandit
    "BLE",  # flake8-blind-except
    "FBT",  # flake8-boolean-trap
    "B",  # flake8-bugbear
    "A",  # flake8-builtins
    "COM",  # flake8-commas
    "C4",  # flake8-comprehensions
    "DTZ",  # flake8-datetimez
    "T10",  # flake8-debugger
    "DJ",  # flake8-django
    "EM",  # flake8-errmsg
    "EXE",  # flake8-executable
    "FA",  # flake8-future-annotations
    "ISC",  # flake8-implicit-str-concat
    "ICN",  # flake8-import-conventions
    "G",  # flake8-logging-format
    "INP",  # flake8-no-pep420
    "PIE",  # flake8-pie
    "T20",  # flake8-print
    "PYI",  # flake8-pyi
    "PT",  # flake8-pytest-style
    "Q",  # flake8-quotes
    "RSE",  # flake8-raise
    "RET",  # flake8-return
    "SLF",  # flake8-self
    "SLOT",  # flake8-slots
    "SIM",  # flake8-simplify
    "TID",  # flake8-tidy-imports
    "TCH",  # flake8-type-checking
    "INT",  # flake8-gettext
    "ARG",  # flake8-unused-arguments
    "PTH",  # flake8-use-pathlib
    "TD",  # flake8-todos
    "FIX",  # flake8-fixme
    "ERA",  # eradicate
    "PL",  # pylint
    "FLY",  # flynt
    "NPY",  # numpy
    "PERF",  # perflint
    "FURB",  # refurb
    "LOG",  # flake8-logging-format
    "RUF",  # Ruff-specific rules
]
ignore = [
    "D100",  # Missing docstring in public module
    "D104",  # Missing docstring in public package
    "D107",  # Missing docstring in __init__
    "ANN101",  # Missing type annotation for self
    "ANN102",  # Missing type annotation for cls
    "S101",  # Use of assert detected (allow in tests)
    "PLR0913",  # Too many arguments to function call
    "PLR0915",  # Too many statements
    "PLR2004",  # Magic value used in comparison
    "TRY003",  # Avoid specifying long messages outside the exception class
    "C901",  # Function is too complex
    "W191",  # Indentation contains tabs
]

[lint.per-file-ignores]
"tests/*" = [
    "S101",  # assert in tests is okay
    "D",     # docstrings not required in tests
    "PLR",   # complexity rules not required in tests
]
"__init__.py" = [
    "D104",  # Missing docstring in public package
]

[format]
line-length = 79
indent-width = 4
skip-magic-trailing-comma = false
docstring-code-format = true
docstring-code-line-length = "dynamic"

[lint.mccabe]
max-complexity = 10

[lint.pydocstyle]
convention = "google"

[lint.isort]
known-first-party = ["gzh2xhs_refactor"]
force-sort-within-sections = true

[lint.flake8-annotations]
mypy-init-return = true
suppress-dummy-args = true

[lint.flake8-bugbear]
extend-immutable-calls = ["fastapi.Depends", "fastapi.Query"]

[lint.flake8-builtins]
builtins-ignorelist = ["id", "type"]

[lint.flake8-pytest-style]
fixture-parentheses = false
mark-parentheses = false

[lint.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "double"

[lint.flake8-tidy-imports]
ban-relative-imports = "all"

[lint.pylint]
max-args = 5
max-locals = 15
max-returns = 6
max-branches = 12
max-statements = 50