apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  type: {{ .Values.service.type }}
  selector:
    app: web
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http

